<p class="lead text-center">A <u>simple</u> and hopefully  <strong>fun</strong> memory game.</p>
<p class="lead text-center">Enjoy!</p>
<p class="pull-right">For any * get in contact through <a href="mailto:#">ezequiel.ballesi@takepart.com.ar</a> </p>
