{{#if matched}}
<section class="container1 matched ripple">
{{else}}
<section class="container1 ripple">
{{/if}}
    <div class="card">
        <div class="front p"> <span>?</span></div>
        <div class="back p">{{info}}</div>
    </div>
</section>
