<h4 class="text-center">You will lose your game progress.</h4>
<h4 class="text-center">Do you want to continue?</h4>
<button id="yesBtn" type="button" class="btn btn-default">Yeah, f this game!</button>
<button id="cancelBtn" type="button" class="btn btn-default pull-right">Nope, please take me back sir</button>
