<nav class="navbar navbar-default" role="" style="max-width:500px;margin-left:auto;margin-right:auto">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarContent">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Flip&Match</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="nav navbar-nav">
        <li><a id="newGameLink" href="#" data-target="#navbarContent"><span class="glyphicon glyphicon-play"></span>  New Game</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a id="aboutLink" href="#" data-target="#navbarContent">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
