<p class="lead text-center text-uppercase"><strong>You've won!!!</strong></p>
<p class="lead text-center">According to our stats your game play was the most accurate and brillant in this game history.*</p>
<p class="pull-right">* This sure is because no one but you played this game to the end... so...</p>
<p class="lead text-center"><strong>Cheers to you!!!</strong></p>
